.footer {
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap */
  align-items: flex-start; /* Align items from the top */
  justify-content: space-between;
  background-color: #280934;
  color: white;
  font-size: 18px;
  margin-top: 30px;
  padding: 100px;
  padding-bottom: 20px;
  border-top-left-radius: 130px;
  gap: 50px;
}

.footerCol {
  width: 100%;
  transition: 2s ease-in-out;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start; /* Align content from the top */
  align-items: flex-start; /* Align items from the top */
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footerTitle p {
  font-size: 24px;
}

.footerCol ul {
  list-style: none;
}

.footerCol ul li {
  padding-bottom: 15px;
  transition: 0.2s all;
  cursor: pointer;
}

.footerCol_3 ul li:hover {
  /* font-size: 20px; */
  cursor: pointer;
  color: red;
  font-weight:bold;
}

.footerCol_3{
  box-sizing:border-box;
  padding-bottom:20px;
}


.FooterTitleDivider {
  width: 50px;
  height: 2px;
  background-color: red;
  margin-top: 5px;
  border-radius: 50px;
}

.footerNavigations ul li {
  display: flex;
  gap: 10px;
}

.footerIcons {
  background-color: white;
  padding: 5px;
  border-radius: 50px;
}
/* .copyrightcontainer p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 60px;
    border-top-left-radius: 100px;
  }
  .copyrightcontainer{
    padding: 10px 60px;
  }
  
}

@media (min-width: 768px) {
  .footerCol {
    flex: 1 1 calc(50% - 25px); /* Two columns in a row with a gap */
  }
}

@media (min-width: 1024px) {
  .footerCol {
    flex: 1 1 calc(25% - 37.5px); /* Four columns in a row with a gap */
  }
}
/* styles/footer.module.css */



