/* styles/globals.css */

@import url('https://fonts.googleapis.com/css2?family=Gill+Sans:wght@400;700&display=swap'); /* Import the font if needed */

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; /* Add !important if needed */
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; /* Add !important if needed */
}

